<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <ul>
      <% if (locals.property) {%> <% property.forEach(propertyObj => { %>
      <li>ID: <%= propertyObj.id %>, Name: <%= propertyObj.address %> <%= propertyObj.city %></li>
      <% }); %> <% } %>
    </ul>
  </body>
</html>
